PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_NAME=huellitas_act24
DB_USER=postgres
DB_PASSWORD=1234

ADMIN_EMAIL=admin@huellitas.com
BANK_NAME=Banco Huellitas
BANK_ACCOUNT=1234567890
BANK_CLABE=012345678901234567
